// Main Elements (easy normalize)
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
// stylelint-disable no-descending-specificity

// @media all {}

html {
  -webkit-text-size-adjust: none;
  min-height: 100%;
}

body {
  min-height: 100%;
  color: $color_text;
  background: $color_white;
  margin: 0;
  padding: 0;
  quotes: "\00ab" "\00bb";

  // Normal text
  @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

  overflow-x: hidden; // not scrolling horizontal body
  backface-visibility: hidden;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background: fade-out($color_active, $fade * 3);
  }
}


// No outline on focus controls!!!
button,
input,
textarea,
a {
  outline: none !important; // stylelint-disable-line declaration-no-important

  &:hover,
  &:active,
  &:focus {
    outline: none !important; // stylelint-disable-line declaration-no-important
  }
}


// All blocks to border-box!!!
main,
article,
aside,
figure,
address
section,
div,
form,
fieldset,
input,
select,
button,
a {
  box-sizing: border-box;
}


// Sections
main,
article,
aside,
figure,
address,
div,
form,
fieldset {
  margin: 0;
  padding: 0;
}


// Others

fieldset,
iframe {
  border-width: 0;
}

// stylelint-enable no-descending-specificity
// stylelint-disable
