// Typography
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Fonts import
@import "~/scr/assets/fonts/sf-ui-display/stylesheet.css";

// Typographic Variables
//////////////////////////////////////////////////////

// Good line-height and letter-spacing
$line-height_base: 1.428571429;
$normal-letter-spacing: normal;

// Guide

$font-size_base: 16px;
$font-size_coefficient_large: 2;
$font-size_coefficient_normal: 1.1;
$font-size_coefficient_small: 1;
$font-size_coefficient_xsmall: 0.75;

$font-size_large: round($font-size_base * $font-size_coefficient_large); // 36px
$font-size_normal: round($font-size_base * $font-size_coefficient_normal); // 24px
$font-size_small: round($font-size_base * $font-size_coefficient_small); // 16px
$font-size_xsmall: round($font-size_base * $font-size_coefficient_xsmall); // 12px

$line-height_computed: round($font-size_base * $line-height_base);
$line-height_large: ceil($line-height_computed * $font-size_coefficient_large);
$line-height_normal: ceil($line-height_computed * $font-size_coefficient_normal);
$line-height_small: ceil($line-height_computed * $font-size_coefficient_small);
$line-height_xsmall: ceil($line-height_computed * $font-size_coefficient_xsmall);

$font-family_sans: Helvetica, Arial, sans-serif;
$font-weight_sans_regular: 400;
$font-weight_sans_bold: 700;

$font-family_sans_ui: "SF UI Display", sans-serif;
$font-weight_sans_ui_thin: 100;
$font-weight_sans_ui_ultralight: 200;
$font-weight_sans_ui_light: 300;
$font-weight_sans_ui_regular: 400;
$font-weight_sans_ui_medium: 500;
$font-weight_sans_ui_semibold: 600;
$font-weight_sans_ui_bold: 700;
$font-weight_sans_ui_black: 800;
$font-weight_sans_ui_heavy: 900;


// Universal Typographic Mixin
//////////////////////////////////////////////////////

// We use one, only one, Karl, a universal mixin for all cases !!!!!!!!!!

@mixin text($font-family, $font-size, $font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $normal-letter-spacing;

  @if $font-size == $font-size_large {
    line-height: $line-height_large;
  } @else if $font-size == $font-size_normal {
    line-height: $line-height_normal;
  } @else if $font-size == $font-size_small {
    line-height: $line-height_small;
  } @else if $font-size == $font-size_xsmall {
    line-height: $line-height_xsmall;
  } @else {
    line-height: floor($font-size * $line-height_base);
  }
}


// Typographic Base
//////////////////////////////////////////////////////

// Regular paragraph
p {
  color: $color_text;
  margin-bottom: $gutter;
  @include text($font-family_sans, $font-size_xsmall, $font-weight_sans_regular);
}

// Default headers

h1 {
  @include text($font-family_sans_ui, $font-size_large, $font-weight_sans-ui_bold);
}

h2 {
  @include text($font-family_sans_ui, $font-size_normal, $font-weight_sans_ui_regular);
}

h3 {
  @include text($font-family_sans-ui, $font-size_small, $font-weight_sans-ui_regular);
}

// stylelint-disable-next-line selector-list-comma-newline-after
h4, h5, h6 {
  @include text($font-family_sans, $font-size_small, $font-weight_sans_bold);
}

// stylelint-disable-next-line selector-list-comma-newline-after, no-descending-specificity
h1, h2, h3 {
  &:first-child {
    margin-top: 0;
  }
}
