// Project Utilities
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Rubber Container
.container-fluid {
  width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;

  @include xs {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}
