// App common widgets styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.subheader {
  width: 100%;
  display: flex;
  justify-content: space-between;

  h3 {
    color: $color_text_light;
    margin-bottom: 0;
    align-self: center;
  }
}
