// App light theme
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

%theme-light {
  $color_background: #fafafa !global;
  $color_text: #6c7a89 !global;
  $color_card: $color_white !global;
  $color_border: #c6dde5 !global;
  $color_header: #3f4750 !global;
}

.app {
  &--light {
    @extend %theme-light !optional;

    @include themes-content;
  }
}
