// App dark theme
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

%theme-dark {
  $color_background: #263340 !global;
  $color_text: #aebfd0 !global;
  $color_card: #1c2630 !global;
  $color_border: #131920 !global;
  $color_header: $color_white !global;
}

.app {
  &--dark {
    @extend %theme-dark !optional;

    @include themes-content;
  }
}

