@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Thin.eot");
  src: url("SFUIDisplay-Thin.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Thin.woff2") format("woff2"),
    url("SFUIDisplay-Thin.woff") format("woff"),
    url("SFUIDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Ultralight.eot");
  src: url("SFUIDisplay-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Ultralight.woff2") format("woff2"),
    url("SFUIDisplay-Ultralight.woff") format("woff"),
    url("SFUIDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Light.eot");
  src: url("SFUIDisplay-Light.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Light.woff2") format("woff2"),
    url("SFUIDisplay-Light.woff") format("woff"),
    url("SFUIDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Regular.eot");
  src: url("SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Regular.woff") format("woff"),
    url("SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Bold.eot");
  src: url("SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Bold.woff2") format("woff2"),
    url("SFUIDisplay-Bold.woff") format("woff"),
    url("SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Medium.eot");
  src: url("SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Medium.woff2") format("woff2"),
    url("SFUIDisplay-Medium.woff") format("woff"),
    url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Semibold.eot");
  src: url("SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Semibold.woff2") format("woff2"),
    url("SFUIDisplay-Semibold.woff") format("woff"),
    url("SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Black.eot");
  src: url("SFUIDisplay-Black.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Black.woff2") format("woff2"),
    url("SFUIDisplay-Black.woff") format("woff"),
    url("SFUIDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Heavy.eot");
  src: url("SFUIDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Heavy.woff2") format("woff2"),
    url("SFUIDisplay-Heavy.woff") format("woff"),
    url("SFUIDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
