// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Sizes
//////////////////////////////////////////////////////

// Main
$gutter: 32px;

// Inputs
$input_height: 38px;


// Colors
//////////////////////////////////////////////////////

// Palette
//////////////////////////////////////////////////////

$color_white: #fff;
$color_black: #000;

$color_salat: #66cc00;
$color_green:  #49ae45;
$color_orange: #fc7907;
$color_red: #ef5a99;

$color_dark: #0a2725;

// Main

$color_primary: $color_salat;
$color_active: $color_orange;
//$color_warning: $color_orange;
//$color_error: $color_red;
//$color_success: $color_green;

$color_primary_dark: $color_green;

// Links

$color_link: $color_primary;
$color_link-hover: $color_primary_dark;

// Functional

$color_text: #373a3c;
$color_text_light: #b2b1b1;

$color_disabled: #a4adb7;
$color_placeholder: $color_disabled;

$color_border: #f3f3f3;
$color_border_dark: #707070;

$color_shadow: rgba($color_black, 0.15);


// Elements
//////////////////////////////////////////////////////

// Roundings

$border-radius_base: 4px;

// Buttons

$btn_padding_horizontal_base: 10px;
$btn_padding_vertical_base: 6px;


// Effects
//////////////////////////////////////////////////////

$transition_duration: 0.2s;
$transition_timing-function: ease-in-out;
$transition_delay: 0s;

$fade: 0.2;
$fade-percent: 8%;

$shadow_coords-x: 0;
$shadow_coords-y: 1px;
$shadow_size: 4px;
$shadow_stretch: -2px;


// Breackpoints and containers
//////////////////////////////////////////////////////

$breackpoint_min: 320px;

// Extra small screen / XS / phone
$breackpoint_xs:                  360px !global;
$breackpoint_xs_min:              $breackpoint_xs !global;

// Small screen / SM / tablet
$breackpoint_sm:                  768px !global;
$breackpoint_sm_min:              $breackpoint_sm !global;


$breackpoint_xs_max:              ($breackpoint_sm_min - 1) !global;
